@page
@model CMM_Admin.Pages.Artifacts.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Artifact</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artifact.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artifact.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artifact.ImagePath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artifact.ImagePath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artifact.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artifact.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Artifact.ArtifactId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
